// Modified _scss files
@import "functions";
@import "variables";
@import "mixins";
@import "modal";
@import "print";
@import "reboot";
@import "type";
@import "tables";
@import "forms";
@import "buttons";
@import "dropdown";
@import "button-group";
@import "custom-forms";
@import "utilities";
//custom modifications and mixins
@import 'variable';
@import 'mixins-custom';


/**********************          Estimator Style        ******************** */
#root{
	.added_to_cart {
		color: #ffffff;
		background-color: #4caf50;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 16px;
		font-size: 13px;
		line-height: 1.846;
		border-radius: 3px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

/**********************          Star Font         ******************** */

.star-rating {
	float: right;
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1em;
	font-size: 1rem;
	width: 5.4em;
	font-family: 'FontAwesome';
	&:before {
		content: "\f006\f006\f006\f006\f006";
		color: $brand-color;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}
	span {
		overflow: hidden;
		-ms-overflow-style: none;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
		&:before {
			content: "\f005\f005\f005\f005\f005";
			top: 0;
			left: 0;
			float: left;
			position: absolute;
		}
	}
}

.woocommerce-product-rating {
	line-height: 2em;
	display: block;
	.star-rating {
		margin: .5em 4px 0 0;
		float: left;
	}
}

.products {
	.star-rating {
		display: block;
		margin: 0 0 .5em;
		float: none;
	}
}

.hreview-aggregate {
	.star-rating {
		margin: 10px 0 0 0;
	}
}

p.stars {
	position: relative;
	font-size: 1rem;
	a {
		display: inline-block;
		font-weight: 500;
		margin-right: 1em;
		text-indent: -9999px;
		position: relative;
		&:last-child {
			border-right: 0;
		}
		&.star-1,
		&.star-2,
		&.star-3,
		&.star-4,
		&.star-5 {
			border-right: 1px solid #ccc;
			&:after {
				font-family: "FontAwesome";
				text-indent: 0;
				position: absolute;
				top: 0;
				left: 0; //padding-right: 1em;
			}
		}
		&.star-1 {
			width: 2rem;
			&:after {
				content: "\f006";
			}
			&:hover:after,
			&.active:after {
				content: "\f005";
			}
		}
		&.star-2 {
			width: 3rem;
			&:after {
				content: "\f006\f006";
			}
			&:hover:after,
			&.active:after {
				content: "\f005\f005";
			}
		}
		&.star-3 {
			width: 4rem;
			&:after {
				content: "\f006\f006\f006";
			}
			&:hover:after,
			&.active:after {
				content: "\f005\f005\f005";
			}
		}
		&.star-4 {
			width: 5rem;
			&:after {
				content: "\f006\f006\f006\f006";
			}
			&:hover:after,
			&.active:after {
				content: "\f005\f005\f005\f005";
			}
		}
		&.star-5 {
			width: 6em;
			border: 0;
			&:after {
				content: "\f006\f006\f006\f006\f006";
			}
			&:hover:after,
			&.active:after {
				content: "\f005\f005\f005\f005\f005";
			}
		}
	}
}


/*******************    End Star Rating      ***********************/


/*******************************        element styles    *******************************/

body {
	background-color: $background-color;
	background-size: cover;
	color: $text-color;
	padding-top: 0px;
}

h1,
h2,
h3,
h4,
h5 {
	// font-family: 'Roboto Condensed', sans-serif !important;
	color: $brand-color;
	padding: 0px;
	margin: 0px;
	margin-bottom: 0.5em;
	font-weight: 500;
	text-align: center;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
}
div.woocommerce{
	h2{
		font-size: 1.2rem !important;
	}
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}


/*******************************        layout classes    *******************************/

.white-bg {
	background-color: #ffffff;
}

.alert {
	// border-radius: 0rem;
	border-radius: 2px;
}

.toggle-product {
	z-index: 999;
}

.coupon-style {
	background-color: #c10707;
	color: #fff;
	font-weight: 500;
	padding: 5px;
	border: 3px dotted #fff;
}
.sm-center{
	text-align: center;
}
.table {
	margin-bottom: 0px;
	>tbody>tr>td {
		padding: 0px;
		padding-left: 1em;
		font-size: 0.8rem;
	}
}

.img-thumbnail {
	border-radius: 2px;
}

.shop_table {
	@include drop-shadow();
	background-color: #fff;
	>tbody>tr>td {
		padding: 0.5em;
	}
}

.woocommerce-checkout-review-order-table {
	th,
	td {
		padding: 9px 12px;
	}
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
	border: 0px solid rgba(0, 0, 0, 0.1); 
}
.woocommerce form.checkout_coupon {
	border: 0px solid rgba(0, 0, 0, 0.1) !important; 
}
.woocommerce form.login,.woocommerce form.register{
	border: 0px solid rgba(0, 0, 0, 0.1);
}
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail.wp-post-image{
	width: 100px;
	height: 50px;
	padding: 3px;
	border: 1px solid #ccc;
}
.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.woocommerce-breadcrumb,
.woocommerce-message {
	background-color: #fff;
	border-bottom: 2px solid #EAEAEA;
	padding: 0.5em;
	margin-bottom: 1rem;
}

.well {
	padding: 1rem;
}

.card {
	background-color: $card-background;
	border-radius: 2px;
	border: none;
	position: relative;
	@include drop-shadow();
	.info-boxes {
		position: absolute;
		top: 2rem;
		background-color: rgba(255, 255, 255, 0.4);
	}
	.card-header{
		background-color: #fff;
	}
	.card-img {
		border-radius: 0rem;
	}
}

.card-hover {
	&:hover {
		@include drop-shadow-hover();
	}
}

.form-control:focus {
	box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.btn:focus {
	box-shadow: 0 0 0 1px rgba(38, 51, 116, 0.25)
}

.flex-content {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content-area {
	flex: 1;
}

.page-numbers {
	li {
		@include drop-shadow();
		background-color: #fff;
		span {
			padding: 0.5rem 1rem;
		}
		&:hover {
			@include drop-shadow-hover();
		}
	}
	li.active {
		background-color: $brand-color;
		span {
			color: #fff;
			display: block;
		}
	}
}


/******************************     header styles     ********************************/

.logo {
	padding: 1em;
	img {
		margin: 0px auto;
		display: block;
	}
}

.search {
	padding: 1em;
	p {
		text-align: center;
		font-weight: 500;
		font-style: italic;
		color: $secondary-text-color;
	}
	.form-control {
		border-top: 1px solid $border-color !important;
		border-right: 1px solid $border-color !important;
		background-color: #fff;
		padding: 0 0 0 1em;
	}
}

.right-header-section {
	padding: 1em;
	text-align: center;
	ul {
		margin-bottom: 0px;
		li {
			display: inline-block;
			.us-flag {
				width: 40px;
			}
		}
		li {
			display: inline-block;
			.canada-flag {
				width: 30px;
				display: inline;
			}
		}
	}
}

.mobile-cart {
	display: block;
	background-color: $border-color;
	border-radius: 20px;
	margin-bottom: 10px;
	a {
		font-size: 1.2rem;
		font-weight: 700;
	}
}


/******************************     Top nav styles     ********************************/


/******************************     Left nav styles     ********************************/

.sidebar-offcanvas {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	
	.logo {
		padding: 1em;
	}
	div.list-group {
		ul {
			li {
				border-bottom: 1px solid $border-color;
				&:first-child {
					border-top: 1px solid $border-color;
				}
				a {
					font-weight: 500;
					text-transform: uppercase;
					padding: 0.5em 0;
					padding-left: 10px;
					display: block;
				}
				ul.dropdown-menu {
					width: 100%;
					border-radius: 0px;
					padding: 0px;
					top: -30px !important;
					left: -5px !important;
					box-shadow: inset 3px 3px 20px #000;
					li {
						border-bottom: 1px solid darken( $border-color, 30%);
						background-color: lighten(#dfdfdf, 5%);
						a {
							color: darken($border-color, 40%);
						}
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
			.dropdown-toggle::after {
				border: none;
			}
			li.dropdown {
				position: relative;
				a.dropdown-toggle {
					span.caret {
						float: right !important;
						padding-right: 1.2em;
						&:after {
							font-family: 'FontAwesome';
							content: '\f107';
						}
					}
				}
				ul.dropdown-menu {
					position: relative !important;
				}
			}
			li.dropdown.show {
				padding-bottom: 0px;
				a {
					span.caret {
						&:after {
							font-family: 'FontAwesome';
							content: '\f106';
						}
					}
				}
				ul.dropdown-menu {
					li.active {
						background-color: $brand-color;
						a {
							color: #fff;
							&:hover {
								color: #fff !important;
							}
						}
					}
				}
			}
		}
	}
}

// top nav flag
img.nav-us-flag{
	// width: 30px !important;
	
}
img.nav-canada-flag{
	// width: 20px !important;
	display: inline-block;
	margin-right: 0.5rem;
}

/***************************   Slider Styles    **********************************/

.carousel-indicators {
	display: none;
}

.fa-chevron-left:before,
.fa-chevron-right:before {
	text-shadow: 1px 1px 1px #000;
}

.carousel-caption {
	padding: 0px;
	margin: 0px;
	h2 {
		padding-bottom: 0.2em;
		font-size: 1rem;
		color: #fff;
	}
	p {
		display: none;
	}
}

.carousel-control {
	display: none;
}

.carousel-control-prev,
.carousel-control-next {
	width: 6%;
}


/***************************   Homepage Boxes Styles    **********************************/

.grid {
	padding-top: 0px;
	padding-bottom: 0px;
	.effect-sadie {
		@include drop-shadow();
		background: #252525;
		h2 {
			font-weight: 500;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.5);
			top: 1em;
			font-size: 1.2rem;
		}
		p {
			opacity: 1;
			text-shadow: 1px 1px 2px #000;
			font-size: 0.7rem;
		}
		&:hover {
			@include drop-shadow-hover();
		}
		&::last-child {
			margin-bottom: 1em;
		}
	}
}


/***************************   Category page Styles    **********************************/

.category-box-item {
	margin-bottom: 1em !important;
	img {
		margin: 0px auto;
		display: block;
		width: 100%;
		height: auto;
	}
	.text-content {
		padding: 1em;
		margin: 1em;
	}
}

.featured-box-item {
	img {
		max-width: 100%;
	}
	.category-box-item {
		position: relative;
	}
	.onsale {
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		padding: 15px 0px 0px 25px;
		font-weight: 500;
		background: url('../images/sale.png') no-repeat;
		position: absolute;
		left: -29px;
		top: -14px;
		display: block;
		width: 80px;
		height: 50px;
		z-index: 10;
		-ms-transform: rotate(-45deg);
		/* IE 9 */
		-webkit-transform: rotate(-45deg);
		/* Safari */
		transform: rotate(-45deg);
	}
	.featured-title {
		text-align: center;
		border-bottom: 1px solid $brand-color;
		margin-bottom: 1em;
	}
	.text-content {
		padding: 1em;
		margin: 0px;
	}
}


/***************************   Sub-category page Styles    **********************************/

.product-box {
	background-color: #fff;
	margin-bottom: 1em;
	padding: 1em;
	h2 {
		margin-bottom: 0.5em;
	}
	img {
		margin: 0px auto;
		display: block;
	}
	.badge-new {
		color: $brand-color;
		text-transform: uppercase;
		font-size: 12px;
		padding: 15px 0px 0px 25px;
		font-weight: 500;
		background: url('../images/new.png') no-repeat;
		position: absolute;
		right: -28px;
		top: -27px;
		display: block;
		width: 80px;
		height: 50px;
		z-index: 10;
		-ms-transform: rotate(45deg);
		/* IE 9 */
		-webkit-transform: rotate(45deg);
		/* Safari */
		transform: rotate(45deg);
	}
	.onsale {
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		padding: 15px 0px 0px 25px;
		font-weight: 500;
		background: url('../images/sale.png') no-repeat;
		position: absolute;
		left: -29px;
		top: -30px;
		display: block;
		width: 80px;
		height: 50px;
		z-index: 10;
		-ms-transform: rotate(-45deg);
		/* IE 9 */
		-webkit-transform: rotate(-45deg);
		/* Safari */
		transform: rotate(-45deg);
	}
	td.bright-off {
		width: 140px;
		height: 20px;
		display: block;
	}
	.bright,
	.bright-plus,
	.double-bright,
	.double-bright-plus,
	.triple-bright,
	.quattro-bright {
		background-color: #ffea00;
		float: left;
		font-size: 12px;
		z-index: 2; // top: 6px;
		position: absolute;
		font-weight: 500;
		padding: 0px 5px;
		border-radius: 5px;
		border: 1px solid #cfd0d0;
		color: $brand-color;
		p {
			display: none;
		}
	}
	td.bright-off+td {
		font-weight: 700;
		font-style: italic;
		text-align: center;
	}
	/* Product Certification Listed sprite styles*/
	.cri {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px 0px no-repeat;
		height: 40px;
		width: 46px;
	}
	.ce {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -111px no-repeat;
		height: 40px;
		width: 46px;
	}
	.csa {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -220px no-repeat;
		height: 40px;
		width: 46px;
	}
	.dim {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -329px no-repeat;
		height: 40px;
		width: 46px;
	}
	.etl {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -443px no-repeat;
		height: 40px;
		width: 46px;
	}
	.ul {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -551px no-repeat;
		height: 40px;
		width: 46px;
	}
	.rohs {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -659px no-repeat;
		height: 40px;
		width: 46px;
	}
	.year2 {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -768px no-repeat;
		height: 40px;
		width: 46px;
	}
	.year3 {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -879px no-repeat;
		height: 40px;
		width: 46px;
	}
	.year5 {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -990px no-repeat;
		height: 40px;
		width: 46px;
	}
	.rgb {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1102px no-repeat;
		height: 40px;
		width: 46px;
	}
	.dlc {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1211px no-repeat;
		height: 40px;
		width: 46px;
	}
	.ulr {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1323px no-repeat;
		height: 40px;
		width: 46px;
	}
	.year1 {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1431px no-repeat;
		height: 40px;
		width: 46px;
	}
	.fcc {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1543px no-repeat;
		height: 40px;
		width: 46px;
	}
	.year6 {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1651px no-repeat;
		height: 40px;
		width: 46px;
	}
	.cri90 {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1758px no-repeat;
		height: 40px;
		width: 46px;
	}
	.ip {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1865px no-repeat;
		height: 40px;
		width: 46px;
	}
	.ic {
		display: inline-block;
		background: url('../images/certifications-sprites-box.png') 0px -1972px no-repeat;
		height: 40px;
		width: 46px;
	}
	.price {
		display: block;
		text-align: center;
		margin-bottom: 0px;
		.amount {
			color: $price-color;
			font-weight: 500;
			font-size: 1.2rem;
		}
		del {
			.amount {
				text-decoration: line-through;
				color: $text-color;
				font-weight: 500;
				font-size: 1rem;
			}
		}
	}
	.more-info {
		font-size: 12px;
		display: block;
		text-align: center;
	}
	.star-rating {
		margin: 0px auto;
		float: none;
		&:before {
			display: none;
		}
	}
}


/***************************   Product page Styles    **********************************/
//checkout loader
.processing .blockOverlay {
    background-image:url('../images/spinner.gif') !important;
    background-position: center 30% !important;
    background-repeat: no-repeat !important;
}
// Image gallery
.woocommerce-product-gallery {
	position: relative;
}

.woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	right: 0;
	top: ms(-1);
	right: ms(-1);
	display: block;
	height: 2em;
	width: 2em;
	border-radius: 3px;
	z-index: 99;
	text-align: center;
}

.woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
	font: normal normal normal 1em/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	content: "\f00e";
	color: #fff;
	background: #273475;
	line-height: 2;
	text-indent: 0;
}

.woocommerce-product-gallery .woocommerce-product-gallery__trigger .emoji {
	display: none !important;
}

.woocommerce-product-gallery img {
	margin: 0;
	border: 4px solid #fff;
}

.woocommerce-product-gallery .flex-viewport {
	border: 1px solid #e1e1e1;
}

.woocommerce-product-gallery .flex-viewport figure {
	margin-top: 0px;
	margin-left: 0px;
}

.woocommerce-product-gallery .flex-control-thumbs {
	/*@include clearfix;*/
	margin: 0;
	padding: 0;
}

.woocommerce-product-gallery .flex-control-thumbs li {
	list-style: none;
	margin-bottom: ms(3);
	cursor: pointer;
	display: inline-block;
}

.woocommerce-product-gallery .flex-control-thumbs li img {
	opacity: .5;
	max-width: 100%;
	max-height: 50px;
	border: 1px solid #e1e1e1;
	padding: 2px;
	/*@include transition( all, ease, .2s );*/
}

.woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
	opacity: 1;
}

.woocommerce-product-gallery .flex-control-thumbs li:hover img {
	opacity: 1;
}

.woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
	/*@include span( 2 of 4 );*/
}

.woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
	margin-right: 0;
}

.woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	/*@include span( 1.333333333 of 4 );*/
}

.woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
	margin-right: 0;
}

.woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	/*@include span( 1 of 4 );
	*/
}

.woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
	margin-right: 0;
}

.woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	/*@include span( .8 of 4 );*/
}

.woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
	margin-right: 0;
}

button.pswp__button:hover {
	background-color: rgba(0, 0, 0, 0);
} //Product image gallery style end
.product-price-box {
	text-align: center;
	.price {
		display: block;
		text-align: center;
		margin-bottom: 0px;
		.amount {
			color: $price-color;
			font-weight: 500;
			font-size: 1.5rem;
		}
		del {
			.amount {
				text-decoration: line-through;
				color: $text-color;
				font-weight: 500;
				font-size: 1rem;
			}
		}
	}
	.select_box{
		text-align: center;
	}
	.select_option{
		float: none;
		display: inline-block;
	}
	.select_option.selected {
		-webkit-box-shadow: 0 0 2px 0 #273475;
		-moz-box-shadow: 0 0 2px 0 #273475;
		box-shadow: 0 0 2px 0 #273475;
		border: 1px solid #273475;
	}
	.select_option_label span.yith_wccl_value {
		padding: 0 2px;
		font-size: 0.8rem;
		font-weight: 500;
	}
	.woocommerce-variation-price {
		background-color: $border-color;
		margin-bottom: 1rem;
	}
	.out-of-stock {
		background-color: $price-color;
		color: #fff;
		text-transform: uppercase;
	}
	.in-stock {
		background-color: $brand-color;
		color: #fff;
		text-transform: uppercase;
	}
	.product-short-meta {
		display: block;
		color: $brand-color;
		background-color: $border-color;
		font-weight: 500;
		font-style: italic;
		padding-left: 1em;
	}
	table.variations {
		width: 100%;
		.variation-title {
			color: #000;
			font-size: 1rem;
		}
		label {
			font-weight: 500;
		}
	}
	form.cart {
		padding: 1em;
	}
	div.quantity {
		display: inline-block;
		.form-control {
			width: 4.2em;
		}
	}
	// comosite products
    .composite_form{
		.component{
			padding-bottom: 0.4rem;
			border-bottom: 1px solid $border-color;
		.component_title_wrapper{
			padding-top: 1rem !important;
			padding-bottom: 0.2rem !important;
			background-color: #f1f1f1;
			h4{
				font-size: 1rem;
				text-align: center;
			}
		}
		
		.component_section_title{
			display: none;
		}
		.component_option_thumbnail{
			margin-right: 5px;
			.image{
				float: none !important;
				width: 100%;
				img{
					width: 100% !important;
					height: auto;
			    }
			}
			.thumbnail_description{
				padding: 0 5px;
				h5.title{
					text-align: center;
				}
		   }
		}
		.composited_product_details_wrapper{
			padding-left: 0px;
			.composited_product_images{
				float: none;
				margin-left: 0px;
				margin-bottom: 1rem;
				a{
					padding-right: 0px;
				}
				img{
					width: 100%;
					height: auto;
				}
			}
			td.label{
				background-color: $brand-color;
				color: #fff;
				padding: 0px;
			}
		}
		//3rd step layout
		.composite_navigation{
			.composite_navigation_inner{
				// background-color: #efefef;
				.page_button{
					max-width: 100%;
				}
				a{
					font-size: 0.8rem;
				}
			}
		}
		.summary_element_wrapper_outer{
			border: 1px solid $border-color !important;
		}
	 }
	 .composite_wrap{
		 padding-top: 0em !important;
	 }
		p.price{
			background-color: $border-color;
			margin-bottom: 1rem;
		}
	}

	@supports (-moz-transform: translate(0,
	0)) {
		div.quantity {
			margin-bottom: -12px;
		}
	}
}

.product_meta {
	font-weight: 500;
	font-size: 1rem;
}
.tagged_as{
	padding-top: 1rem;
	display: block;
	a{
		background-color: $gray-600;
		color: #fff;
		font-size: 0.6rem;
		border-radius: 5px;
		padding: 2px 4px;
        white-space: nowrap;
	}
}


/* Product Certification Listed sprite styles*/

.cri {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px 0px no-repeat;
	height: 40px;
	width: 46px;
}

.ce {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -111px no-repeat;
	height: 40px;
	width: 46px;
}

.csa {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -220px no-repeat;
	height: 40px;
	width: 46px;
}

.dim {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -329px no-repeat;
	height: 40px;
	width: 46px;
}

.etl {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -443px no-repeat;
	height: 40px;
	width: 46px;
}

.ul {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -551px no-repeat;
	height: 40px;
	width: 46px;
}

.rohs {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -659px no-repeat;
	height: 40px;
	width: 46px;
}

.year2 {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -768px no-repeat;
	height: 40px;
	width: 46px;
}

.year3 {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -879px no-repeat;
	height: 40px;
	width: 46px;
}

.year5 {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -990px no-repeat;
	height: 40px;
	width: 46px;
}

.rgb {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1102px no-repeat;
	height: 40px;
	width: 46px;
}

.dlc {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1211px no-repeat;
	height: 40px;
	width: 46px;
}

.ulr {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1323px no-repeat;
	height: 40px;
	width: 46px;
}

.year1 {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1431px no-repeat;
	height: 40px;
	width: 46px;
}

.fcc {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1543px no-repeat;
	height: 40px;
	width: 46px;
}

.year6 {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1651px no-repeat;
	height: 40px;
	width: 46px;
}

.cri90 {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1758px no-repeat;
	height: 40px;
	width: 46px;
}

.ip {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1865px no-repeat;
	height: 40px;
	width: 46px;
}

.ic {
	display: inline-block;
	background: url('../images/certifications-sprites-box.png') 0px -1972px no-repeat;
	height: 40px;
	width: 46px;
}

.pdf {
	margin-top: 5px;
	background: url('../images/pdf.png') 10px 10px no-repeat;
	display: block;
	width: 100%;
	a {
		padding: 10px;
		color: #333;
		background-color: #fff;
		display: block;
		font-weight: 500;
		font-size: 12px;
		margin-left: 65px;
		border-left: 2px solid #dfdfdf;
	}
}

.sharedaddy {
	padding-top: 0.6rem;
	a.sd-button.share-icon.no-text {
		border-radius: 0px !important;
		@include drop-shadow();
	}
}

.product-info {
	margin-top: 1rem;
	
	.nav-tabs {
		 background-color: $brand-color;
		 @include drop-shadow();
		li {
			border-right: 1px solid lighten($brand-color, 20%);
			a {
				border-radius: 0px;
				// color: $text-color;
				color: #fff;
				
			}
			&:hover {
				background-color: #fff;
				a {
					color: $text-color;
					
				}
				
			}
		}
		li.active {
			background-color: #fff;
			a {
				font-weight: 500;
				color: $brand-color;
			}
		}
	}
	.panel {
		padding: 1em;
		h2 {
			font-size: 1.5rem;
		}
		.wp-caption {
			margin: 0px auto;
			@include drop-shadow();
			&:hover {
				@include drop-shadow-hover();
			}
			p.wp-caption-text {
				background-color: $border-color;
				color: $brand-color;
				padding: 1em;
				text-align: center;
			}
		}
		.product-box {
			h3 {
				font-size: 1.2rem;
			}
			.badge-new {
				color: $brand-color;
				text-transform: uppercase;
				font-size: 12px;
				padding: 17px 0px 0px 24px;
				font-weight: 500;
				background: url('../images/new.png') no-repeat;
				position: absolute;
				right: -30px;
				top: -15px;
				display: block;
				width: 80px;
				height: 50px;
				z-index: 10;
				-ms-transform: rotate(45deg);
				/* IE 9 */
				-webkit-transform: rotate(45deg);
				/* Safari */
				transform: rotate(45deg);
			}
			.onsale {
				color: #fff;
				text-transform: uppercase;
				font-size: 12px;
				padding: 17px 0px 0px 24px;
				font-weight: 500;
				background: url('../images/sale.png') no-repeat;
				position: absolute;
				left: -30px;
				top: -15px;
				display: block;
				width: 80px;
				height: 50px;
				z-index: 10;
				-ms-transform: rotate(-45deg);
				/* IE 9 */
				-webkit-transform: rotate(-45deg);
				/* Safari */
				transform: rotate(-45deg);
			}
			.added_to_cart {
				color: #ffffff;
				background-color: #4caf50;
				text-transform: uppercase;
				display: inline-block;
				margin-bottom: 0;
				font-weight: normal;
				text-align: center;
				vertical-align: middle;
				-ms-touch-action: manipulation;
				touch-action: manipulation;
				cursor: pointer;
				border: 1px solid transparent;
				white-space: nowrap;
				padding: 6px 16px;
				font-size: 13px;
				line-height: 1.846;
				border-radius: 3px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			p.stock {
				font-weight: 500;
			}
			.select_box {
				text-align: center;
				
				.select_option {
					float: none;
					display: inline-block;
					span{
						font-size: 0.7rem;
						font-weight: 500;
						padding: 0 2px;
					}
				}
			}
			.select_option.selected {
				-webkit-box-shadow: 0 0 2px 0 #273475;
				-moz-box-shadow: 0 0 2px 0 #273475;
				box-shadow: 0 0 2px 0 #273475;
				border: 1px solid #273475;
			}
		}
		.commentlist {
			padding-left: 1em;
		}
		.comment {
			border-left: 2px solid $brand-color;
			padding-left: 1em;
			.description {
				background-color: $background-color;
				padding-left: 1em;
				font-style: italic;
			}
		}
		.comment-form {
			.form-control {
				background-color: #fff;
			}
		}
	}
	.accordion-mobile {
		.btn-block[aria-expanded="false"] {
			&:after {
				font-family: 'FontAwesome';
				content: '\f107';
				float: right;
			}
		}
		.btn-block[aria-expanded="true"] {
			&:after {
				font-family: 'FontAwesome';
				content: '\f106';
				float: right;
			}
		}
		h2 {
			font-size: 1.5rem;
		}
		.wp-caption {
			margin: 0px auto;
			@include drop-shadow();
			&:hover {
				@include drop-shadow-hover();
			}
			p.wp-caption-text {
				background-color: $border-color;
				color: $brand-color;
				padding: 1em;
				text-align: center;
			}
		}
		.product-box {
			h3 {
				font-size: 1.2rem;
			}
			.badge-new {
				color: $brand-color;
				text-transform: uppercase;
				font-size: 12px;
				padding: 17px 0px 0px 24px;
				font-weight: 500;
				background: url('../images/new.png') no-repeat;
				position: absolute;
				right: -30px;
				top: -15px;
				display: block;
				width: 80px;
				height: 50px;
				z-index: 10;
				-ms-transform: rotate(45deg);
				/* IE 9 */
				-webkit-transform: rotate(45deg);
				/* Safari */
				transform: rotate(45deg);
			}
			.onsale {
				color: #fff;
				text-transform: uppercase;
				font-size: 12px;
				padding: 17px 0px 0px 24px;
				font-weight: 500;
				background: url('../images/sale.png') no-repeat;
				position: absolute;
				left: -30px;
				top: -15px;
				display: block;
				width: 80px;
				height: 50px;
				z-index: 10;
				-ms-transform: rotate(-45deg);
				/* IE 9 */
				-webkit-transform: rotate(-45deg);
				/* Safari */
				transform: rotate(-45deg);
			}
			.added_to_cart {
				color: #ffffff;
				background-color: #4caf50;
				text-transform: uppercase;
				display: inline-block;
				margin-bottom: 0;
				font-weight: normal;
				text-align: center;
				vertical-align: middle;
				-ms-touch-action: manipulation;
				touch-action: manipulation;
				cursor: pointer;
				border: 1px solid transparent;
				white-space: nowrap;
				padding: 6px 16px;
				font-size: 13px;
				line-height: 1.846;
				border-radius: 3px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			p.stock {
				font-weight: 500;
			}
			.select_box {
				text-align: center;
				.select_option {
					float: none;
					display: inline-block;
				}
			}
			.select_option.selected {
				-webkit-box-shadow: 0 0 2px 0 #273475;
				-moz-box-shadow: 0 0 2px 0 #273475;
				box-shadow: 0 0 2px 0 #273475;
				border: 1px solid #273475;
			}
		}
		.commentlist {
			padding-left: 1em;
		}
		.comment {
			border-left: 2px solid $brand-color;
			padding-left: 1em;
			.description {
				background-color: $background-color;
				padding-left: 1em;
				font-style: italic;
			}
		}
		.comment-form {
			.form-control {
				background-color: #fff;
			}
		}
	}
}


/*****************************   Page style  ************************************/

.page-style {
	.product-box {
		h3 {
			font-size: 1.2rem;
		}
		.badge-new {
			color: $brand-color;
			text-transform: uppercase;
			font-size: 12px;
			padding: 17px 0px 0px 24px;
			font-weight: 500;
			background: url('../images/new.png') no-repeat;
			position: absolute;
			right: -30px;
			top: -15px;
			display: block;
			width: 80px;
			height: 50px;
			z-index: 10;
			-ms-transform: rotate(45deg);
			/* IE 9 */
			-webkit-transform: rotate(45deg);
			/* Safari */
			transform: rotate(45deg);
		}
		.onsale {
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			padding: 17px 0px 0px 24px;
			font-weight: 500;
			background: url('../images/sale.png') no-repeat;
			position: absolute;
			left: -30px;
			top: -15px;
			display: block;
			width: 80px;
			height: 50px;
			z-index: 10;
			-ms-transform: rotate(-45deg);
			/* IE 9 */
			-webkit-transform: rotate(-45deg);
			/* Safari */
			transform: rotate(-45deg);
		}
		.added_to_cart {
			color: #ffffff;
			background-color: #4caf50;
			text-transform: uppercase;
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			border: 1px solid transparent;
			white-space: nowrap;
			padding: 6px 16px;
			font-size: 13px;
			line-height: 1.846;
			border-radius: 3px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		p.stock {
			font-weight: 500;
		}
		.select_box {
			text-align: center;
			.select_option {
				float: none;
				display: inline-block;
			}
		}
		.select_option.selected {
			-webkit-box-shadow: 0 0 2px 0 #273475;
			-moz-box-shadow: 0 0 2px 0 #273475;
			box-shadow: 0 0 2px 0 #273475;
			border: 1px solid #273475;
		}
	}
}


/**************************   Contact page style    ******************************/

.contact-form-field {
	padding-top: 1em;
	h5 {
		font-size: 1.2rem;
	}
}


/********************   Contact form 7 **************************/

.wpcf7-form {
	.form-control {
		background-color: #fff;
	}
	.wpcf7-validation-errors {
		background-color: #ff9800;
		border: none;
		color: #fff;
		@include drop-shadow();
	}
	.wpcf7-mail-sent-ng {
		background-color: #e51c23;
		border: none;
		color: #fff;
		@include drop-shadow();
	}
	.wpcf7-mail-sent-ok {
		background-color: #4caf50;
		border: none;
		color: #fff;
		@include drop-shadow();
	}
}


/*************************   Woocommerce Style **********************************/


/******************   Register login style  *********************/

.woocommerce-password-strength.short {
	background-color: #dc3545;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem 1rem;
	@include drop-shadow();
	width: 100%;
	margin-top: 1em;
}

.woocommerce-password-strength.bad {
	background-color: #fd7e14;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem 1rem;
	width: 100%;
	@include drop-shadow();
	margin-top: 1em;
}

.woocommerce-password-strength.good {
	background-color: #007bff;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem 1rem;
	width: 100%;
	@include drop-shadow();
	margin-top: 1em;
}

.woocommerce-password-strength.strong {
	background-color: #28a745;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem 1rem;
	width: 100%;
	@include drop-shadow();
	margin-top: 1em;
}

.woocommerce-password-hint {
	display: block;
	padding: 5px;
	background-color: $background-color;
	font-size: 0.5rem 1rem;
	margin-top: 1em;
	@include drop-shadow();
}


/******************   Register login style end  *********************/

.account-nav {
	@include drop-shadow();
}

.shipping_calculator {
	margin-top: 1em;
	border: 1px solid $border-color;
	background-color: $background-color;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row input.input-text,
.woocommerce-page form .form-row textarea {
	padding-left: 1em;
}

li.payment_method_paypal img {
	height: 60px;
	margin-right: 1em !important;
}


/***************************   Footer Styles    **********************************/

.page-footer {
	margin-top: 1em;
	background-color: darken(#dfdfdf, 10%);
	padding-bottom: 0px;
	ul {
		li {
			a {
				font-weight: 500;
			}
		}
	}
	.social-links {
		li {
			display: inline-block;
			border-right: 1px solid $brand-color;
			padding-right: 0.5em;
			margin-right: 0.5em;
			&:last-child {
				border-right: 0px;
				padding-right: 0px;
				margin-right: 0px;
			}
			a {
				font-size: 1rem;
				font-weight: 500;
			}
		}
	}
	.footer-copyright {
		background-color: $brand-color;
		color: #fff;
		margin-top: 1em;
		padding: 1em;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	h1,
	h2,
	h3,
	h4,
	h5 {
		text-align: left;
	}
	/******************************     Top nav styles     ********************************/
	.nav-padding {
		padding-left: 0px;
	}
	.navbar-collapse {
		padding: 0px;
	}
	.navbar {
		padding: 0em;
		
		ul {
			li {
				padding: 0.2rem 0.5rem;
				border-right: 1px solid lighten($brand-color, 8%);
				a {
					color: #fff !important;
					&:hover {
						color: rgba(255, 255, 255, 0.5) !important;
					}
				}
			}
			li.active {
				border-bottom: 2px solid #fff;
			}
		}
		ul.dropdown-menu{	
			@include drop-shadow-hover();
			border: none;
			li{
				border-right: none;
				.nav-link{
					color: $brand-color !important;
					font-weight: 500;
				}
		 }	
		}	
		li.product-menu {
			position: relative;
			
        i{
           &:before{
			   line-height: 20px;
		   }
		}		
		  ul.dropdown-menu{	
			width: 550px;
			@include drop-shadow-hover();
			border: none;
			.nav-link{
					color: $brand-color !important;
					font-weight: 500;
			}
			li.menu-item {
				border-right: none;
				a {
					color: $brand-color !important;
					font-weight: 500;
					&:hover{
						text-decoration: none;
						font-weight: 700 !important;
					}
				}
			}
			
			li.dropdown {
				border-right: none;
				
				a {
					color: $brand-color !important;
					font-weight: 500;
					
				}
				ul.dropdown-menu{
					width: 47%;
					background-color: #f6f6f6;
					// border-top: 1px solid $brand-color !important;
					@include drop-shadow();
					position: relative;
					display: block;
					border: none;
					li{
						border-right: none;
						a{
							font-weight: 400;
							font-size: 0.7rem;
							&:hover{
								text-decoration: none;
								color: #212121 !important;
								font-weight: 500 !important;
							}
				            &:before{
								font-family: 'FontAwesome';
								content: '\f138';
								margin-right: 0.6rem;
							}
						}
					}
				}
			}
			//display right 
			li.right {
				border-right: none;
				border-left: 1px solid $brand-color;
				left: 270px;
				position: absolute;
				top: -5px;
				a{
					display: none;
				}
				ul.dropdown-menu{
					border-top: none !important;
					background-color: #fff !important;
					width: 250px !important;
					box-shadow: none;
					li.dropdown {
						border-right: none;
						
						a {
							color: $brand-color !important;
							font-weight: 500 !important;
							font-style: normal;
							font-size: 0.8rem;
							display: block;
							&:hover{
								text-decoration: none;
								font-weight: 700 !important;
							}
							&:before{
								content: none;
								margin-right: 0rem;
							}
						}
						ul.dropdown-menu{
							// width: 48%;
							background-color: #f6f6f6 !important;
							@include drop-shadow();
							position: relative;
							display: block;
							border: none;
							li{
								border-right: none;
								a{
									font-weight: 400 !important;
									font-size: 0.7rem;
									&:hover{
										text-decoration: none;
										color: #212121 !important;
										font-weight: 500 !important;
									}
									&:before{
										font-family: 'FontAwesome';
										content: '\f138';
										margin-right: 0.6rem;
									}
						
								}
							}
						}
					}
			  }	
			}	
		 }
		}
	}
	/******************************     Left nav styles     ********************************/
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	.row-offcanvas-left.active {
		left: 34%;
	}
	.row-offcanvas-left {
		left: 0;
	}
	.sidebar-offcanvas {
		left: -34%;
		position: absolute;
		top: 0;
		width: 34%;
		div.list-group {
			ul {
				li {
					&:hover {
						@include drop-shadow();
						background-color: $border-color;
					}
				}
				li.active {
					background-color: $brand-color;
					a {
						color: #fff;
					}
				}
				li.dropdown.open {
					ul.dropdown-menu {
						li {
							&:hover {
								@include drop-shadow-hover();
								a {
									color: $brand-color;
								}
							}
						}
					}
				}
			}
		}
		// #style-3::-webkit-scrollbar-track
		// {
		// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		// 	background-color: #F5F5F5;
		// }

		// #style-3::-webkit-scrollbar
		// {
		// 	width: 6px;
		// 	background-color: #F5F5F5;
		// }

		// #style-3::-webkit-scrollbar-thumb
		// {
		// 	background-color: $brand-color;
		// }
		
	}
	.scroll-style::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}

		.scroll-style::-webkit-scrollbar
		{
			width: 6px;
			background-color: #F5F5F5;
		}

		.scroll-style::-webkit-scrollbar-thumb
		{
			background-color: $brand-color;
		}
	/***************************   Slider Styles    **********************************/
	.carousel {
		@include drop-shadow();
		border-radius: 2px;
	}
	.carousel-indicators {
		display: block;
	}
	.carousel-caption {
		position: absolute;
		top: 15px;
		left: 40px;
		bottom: auto;
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.2);
		h2 {
			padding-bottom: 0.5em;
			float: left;
			font-size: 1.5rem;
		}
		p {
			display: block;
			clear: left;
			float: left;
			text-align: left;
			letter-spacing: 1px;
		}
		.btn {
			float: left;
			clear: left;
		}
	}
	.carousel-control {
		display: block;
		z-index: 10;
		background: rgba(0, 0, 0, 0);
		line-height: 225px;
		text-shadow: 2px 2px 4px #555;
		width: 40px;
	}
	/***************************   Homepage Boxes Styles    **********************************/
	.grid {
		// margin: 0em 0.5em;
		.effect-sadie {
			h2 {
				top: 50%;
			}
			p {
				opacity: 0;
			}
		}
	}
	/***************************   Category page Styles    **********************************/
	.category-box-item {
		img {
			width: 100%;
		}
		.text-content {
			margin: 0em;
		}
	}
	/***************************   Sub-category page Styles    **********************************/
	.product-box {
		// border-top: 1px solid lighten($border-color, 10%);
		h2 {
			margin-bottom: 0.5em;
		}
		img {
			margin: 0px auto;
			display: block;
			position: relative;
		}
		td.bright-off {
			width: 205px;
			height: 20px;
			background: url('../images/brightness.png') no-repeat;
			display: block;
		}
		.bright {
			margin-left: 57px;
		}
		.bright-plus {
			margin-left: 62px;
		}
		.double-bright {
			margin-left: 67px;
		}
		.double-bright-plus {
			margin-left: 72px;
		}
		.triple-bright {
			margin-left: 77px;
		}
		.quattro-bright {
			margin-left: 82px;
		}
		.price {
			.amount {
				font-size: 1rem;
			}
			del {
				.amount {
					font-size: 0.8rem;
				}
			}
		}
	}
	/***************************   Product page Styles    **********************************/
	.product-info {
		margin-top: 0rem;
		.panel {
			.product-box {
				.added_to_cart {
					padding: 0px 22px;
				}
			}
			.comment-form{
				p.stars:nth-child(2){
					display: none;
				}
		   }
		}
	}
	/*******************  Page style  ****************************/
	.page-style {
		.product-box {
			.badge-new {
				left: -44px;
				-ms-transform: rotate(-45deg);
				/* IE 9 */
				-webkit-transform: rotate(-45deg);
				/* Safari */
				transform: rotate(-45deg);
			}
			.added_to_cart {
				padding: 0px 22px;
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	/******************************     Top nav styles     ********************************/
	.navbar {
		.fa{
			&:before{
				display: none;
			}
		}
		.nav-us-flag{
			display: none;
		}
	}
	/******************************     Left nav styles     ********************************/
	.sidebar-offcanvas {
		left: 0;
		// position: fixed;
		// overflow: auto;
		// overflow-x: hidden;
		overflow: auto;
		position: fixed;
		overflow-x: hidden;
		height: 100%;
		z-index: 1030;
		div.list-group {
			// overflow: auto;
			left: 0;
			// height: 75%;
			
			ul {
				li {
					&:hover {
						@include drop-shadow();
						background-color: $border-color;
						a {
							text-decoration: none;
						}
					}
					ul.dropdown-menu {
						left: 6px !important;
						li {
							a:hover {
								color: lighten(#000, 5%);
							}
						}
					}
				}
				li.active {
					background-color: $brand-color;
					a {
						color: #fff;
					}
				}
				li.dropdown.open {
					ul.dropdown-menu {
						li {
							&:hover {
								@include drop-shadow-hover();
								a {
									color: $brand-color;
								}
							}
						}
					}
				}
			}
		}
		
		.certification-icons-nav{
			
			left: 0;
			
			z-index: 1000;
			border-top: 1px solid rgba(0,0,0,0.14);
			padding: 1rem 0.4rem;
			
			.payment{
			img{
				width: 16%;
				height: auto;
			}
		  }
		  .ssl-icons{
			img{
				width: 33%;
				height: auto;
			}
		  }
		}
	}
	.large-margin-remove {
		margin-right: -30px;
	}
	/***************************   Category page Styles    **********************************/
	div.dropdown {
		select {
			width: 100%;
		}
	}
	.category-box-item {
		img {
			width: 100%;
		}
		.text-content {
			margin: 0px;
		}
	}
	/***************************   Subcategory page Styles    **********************************/
	.large-padding-remove {
		padding-right: 0px;
	}
	/***************************   Product page Styles    **********************************/
	.product-info {
		.panel {
			.product-box {
				.added_to_cart {
					padding: 0px 22px;
				}
			}
		}
	}
	/****************************  Page style  *************************************/
	.page-style {
		.product-box {
			.added_to_cart {
				padding: 0px 22px;
			}
		}
	}
	/**************************   Contact page style    ******************************/
	.contact-form-field {
		margin-top: -2em;
		@include drop-shadow-hover();
		.info-col {
			border-right: 1px solid $border-color;
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	/******************************     header styles     ********************************/
	header {
		.right-header-section {
			strong {
				font-size: 1.5rem;
			}
		}
	}
	
	/******************************     Top nav styles     ********************************/
	.navbar {
		.fa{
			&:before{
				display: block;
			}
		}
		.nav-us-flag{
			display: inline-block;
		}
	}
	/******************************     Left nav styles     ********************************/
	.sidebar-offcanvas {
		left: 0;
		top: 0;
		
		
		div.list-group {
			
			left: 0;
		}
		// .certification-icons-nav{
		// 	left: 0;
		// 	z-index: 1000;
		// 	border-top: 1px solid rgba(0,0,0,0.14);
		// 	padding: 1rem 0.4rem;
			
		// 	.payment{
		// 	img{
		// 		width: 16%;
		// 		height: auto;
		// 	}
		//   }
		//   .ssl-icons{
		// 	img{
		// 		width: 33%;
		// 		height: auto;
		// 	}
		//   }
		// }
	}
	/***************************   Slider Styles    **********************************/
	.carousel-indicators {
		display: block;
	}
	.carousel-caption {
		position: absolute;
		top: 15px;
		left: 40px;
		bottom: auto;
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.2);
		h2 {
			padding-bottom: 0.5em;
			float: left;
		}
		p {
			display: block;
			clear: left;
			float: left;
			text-align: left;
			letter-spacing: 1px;
		}
		.btn {
			float: left;
			clear: left;
		}
	}
	.carousel-control {
		display: block;
		z-index: 10;
		background: rgba(0, 0, 0, 0);
		line-height: 225px;
		text-shadow: 2px 2px 4px #555;
		width: 40px;
	}
	/***************************   Homepage Boxes Styles    **********************************/
	.grid {
		// margin: 0.5em;
		.effect-sadie {
			h2 {
				top: 50%;
			}
			p {
				opacity: 0;
			}
		}
	}
	/***************************   Category page Styles    **********************************/
	.category-box-item {
		.text-content {
			margin: 0px;
		}
	}
	/***************************   Sub-category page Styles    **********************************/
	.product-box {
		// border-top: 1px solid lighten($border-color, 10%);
		h2 {
			margin-bottom: 0.5em;
		}
		img {
			margin: 0px auto;
			display: block;
			position: relative;
		}
		td.bright-off {
			width: 205px;
			height: 20px;
			background: url('../images/brightness.png') no-repeat;
			display: block;
		}
		.bright {
			margin-left: 57px;
		}
		.bright-plus {
			margin-left: 62px;
		}
		.double-bright {
			margin-left: 67px;
		}
		.double-bright-plus {
			margin-left: 72px;
		}
		.triple-bright {
			margin-left: 77px;
		}
		.quattro-bright {
			margin-left: 82px;
		}
	}
	/********************  Products page style  ******************/
	//Product image gallery style end
	.product-price-box {
		.price {
			.amount {
				font-size: 1.2rem;
			}
			del {
				.amount {
					text-decoration: line-through;
					color: $text-color;
					font-weight: 500;
					font-size: 1rem;
				}
			}
		}
		table.variations {
			.variation-title {
				font-size: 0.8rem;
			}
		}
	}
	.product_meta {
		font-size: 0.8rem;
	}
	.product-info {
		margin-top: 1rem;
		// .nav-tabs {
		// 	background-color: $border-color;
		// 	@include drop-shadow();
		// 	li {
		// 		a {
		// 			border-radius: 0px;
		// 			color: $text-color;
		// 		}
		// 		&:hover {
		// 			background-color: #fff;
		// 		}
		// 	}
		// 	li.active {
		// 		background-color: #fff;
		// 		a {
		// 			font-weight: 500;
		// 			color: $brand-color;
		// 		}
		// 	}
		// }
		.panel {
			padding: 1em;
			.product-box {
				h3 {
					font-size: 1.2rem;
				}
			}
		}
	}
	/******************************     Page footer styles     ********************************/
}